@use "sass:color";
@use "sass:math";

$shades: 'q' 1 'russian-violet' hsla(255, 45%, 18%, 1),
  'w' 2 'purple-navy' hsla(250, 26%, 44%, 1),
  'e' 3 'purple-mountain-majesty' hsla(266, 32%, 64%, 1),
  'r' 4 'lilac' hsla(292, 28%, 68%, 1),
  't' 5 'pink-lavender' hsla(327, 43%, 79%, 1);

:root {
  --__origin: 'styles/color';

  @each $sid, $sidx, $sname, $hsla in $shades {
    $lightmod: math.percentage(0.7 + ($sidx * 0.06));
    $textcolor: color.change(
      color.scale($hsla, $saturation: -70%),
      $lightness: $lightmod
    );

    --#{$sname}: #{$hsla};
    --#{$sname}__text: #{$textcolor};
    --#{$sid}-shade: var(--#{$sname});
    --#{$sid}-text: var(--#{$sname}__text);
  }
}

@each $sid, $sidx, $sname, $hsla in $shades {
  // palette selectors
  .pal-#{$sid},
  .pal-#{$sidx},
  .#{$sname},
  [data-pal="#{$sid}"],
  [data-pal="#{$sidx}"]
  [data-pal="#{$sname}"] {
    --fill-color: var(--#{$sid}-shade);
    --text-color: var(--#{$sid}-text);
  }
}

[data-pal],
.pal-standard,
[data-pal-scheme="standard"] {
  background: var(--fill-color);
  color: var(--text-color);
}

.pal-invert,
[data-pal-scheme="invert"] {
  background: var(--text-color);
  color: var(--fill-color);
}
