pre {
  width: 100%;
}

code {
  font-size: smaller;

  padding-inline: var(--s-3);
  padding-block: 0.1ex;
  margin-inline: var(--s-4);
}

button {
  background: unset;

  padding: 1.25ex;

  border: 0.3ch solid black;

  &:hover {
    cursor: pointer;

    background: black;
    --text-color: white;
  }
}
