.code-page {
  height: 100vh;
  width: 100vw;

  padding: 16ch;

  background: antiquewhite;
}

.code-page pre {
  max-width: 80ch;
}

.code-page pre > code {
  margin: -2ch -4ch;
  padding: 2ch 4ch;

  outline: solid 1ch coral;

  text-shadow: 0.5px 0.25px 6px currentColor;
}
