[data-layout="standard"] {
  margin-top: 5rem;
  margin-bottom: 5rem;

  display: grid;

  // $grid-column-gap: calc(min((13 / 15) * 100vw, #{$grid-max-width}) / 13 / 11);
  // $grid-content-pad: calc(max(2/15 * 100vw, 100vw - #{$grid-max-width}) / 2);

  --padding-column-width: calc(max(2/15 * 100vw, 100vw - 1440px) / 2);
  grid-template-columns:
    var(--padding-column-width)
    [content-start]
    repeat(7, 1fr)
    [content-end]
    var(--padding-column-width);

  > * {
    grid-column-start: content-start;
    grid-column-end: content-end;
  }

  > .spread {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

    align-items: center;

    margin-block: var(--s1);
  }

  > .left {
    grid-column-start: 2;
    grid-column-end: 3;

    place-self: center center;

    margin: var(--s2);
  }
  > .right {
    grid-column-start: -3;
    grid-column-end: content-end;

    place-self: center center;

    margin: var(--s2);
  }
}
