.code-page {
  height: 100vh;
  width: 100vw;
  padding: 16ch;
  background: antiquewhite;

  > * + * {
    margin-top: var(--s1);
  }
}

pre {
  width: 100%;
}

code {
  padding-inline: var(--s-3);
  padding-block: var(--s-2);
  margin-inline: var(--s-4);
}

pre > code {
  padding: var(--s1) var(--s4);
}

.color-page {
  > * + * {
    margin-top: var(--s1);
  }

  section.color-demo {
    display: flex;
    justify-content: space-evenly;
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    border: 1px solid black;
    margin-left: var(--s3);
    margin-right: var(--s3);

    > div {
      width: var(--s5);
      height: var(--s5);
      display: flex;
      flex-direction: column;
      place-content: center center;
      text-align: center;
      font-size: large;
    }
  }
}
