.text-page {
  p,
  span,
  code {
    max-width: 80ch;
  }

  > *:not(:last-child):not(.left):not(.right) {
    margin-bottom: 1em;
  }
}

.code-page {
  height: 100vh;
  width: 100vw;
  padding: 16ch;
  background: antiquewhite;

  > * + * {
    margin-top: var(--s1);
  }
}

.color-page {
  > * + * {
    margin-top: var(--s0);
  }

  section.color-demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    border: 1px solid black;
    margin-left: var(--s3);
    margin-right: var(--s3);

    > div {
      flex: var(--s5) 0 1;
      padding: var(--s0) var(--s1);
      margin: var(--s0);
      display: flex;
      flex-direction: column;
      place-content: center center;
      text-align: center;
    }
  }
}
